cython
ninja
pillow
pybind11
scikit-image
setuptools
tqdm
jsons
pysimdjson



# # For linting / code auto-formatting inside vscode (or other IDE). Should be fine to leave in, these
# # are small dependencies, but also fine to remove when submiting an analytic:
black>=19.3
#flake8
isort
#isort==4.3.21 # Version works with nbextensions.
ruff

# For notebooks / plotting:
ipython
git+https://github.com/ipython-contrib/jupyter_contrib_nbextensions.git
jupyterlab
matplotlib
# nb-black
nbconvert
nbformat
numpy
pandas
pandas-read-xml
pandoc
polars
seaborn
jupyterlab_code_formatter
jupyterlab-lsp
python-lsp-server[all]
jlab-enhanced-cell-toolbar
jupyterlab-snippets
